/*
1. Posicionamineto
2. Modelo de caja
3. Tipografia
4. Estilos Visuales (border radius/shadows...)
5. Misc
*/

:root{
    /*COLORES*/
    --Linear-BG:  linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;

}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
    font-size: 65%;
    font-family: 'DM Sans', sans-serif;
}
header{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  height: 334px;  
  text-align: center;
  background: var(--Linear-BG);
}
header img{
 width: 150px;
 height: 24px;
 margin-top: 60px;
 align-self: center;
}
.header--tittle-container{
 width: 90%;/**/
 min-width: 288px;
 max-width: 900px;
 height: 288px;
 margin-top: 40px;
 text-align: center;
 align-self: center;
}
.header--tittle-container h1{
 font-size: 24px;
 font-weight: 700;
 line-height: 26px;
 color: var(--just-white);   
}
.header--tittle-container p{
margin:25px;
font-size: 14px;
font-weight: 500;
line-height: 18px;
text-align: center;
color: var(--soft-orange);
}
.header--button{
position: absolute;
top: 270px;
left: calc(50% - 115px);
display: block;
margin-top: 35px;
padding: 15px;
width: 229px;
height: 48px;
background-color: var(--off-white);/*centrar el btn*/
/*Sombra*/
box-shadow: 0px 4px 8px rgba(89, 73, 36, 0.16);
border: none;
border-radius: 5px;
font-size: 14px;
font-weight: bold;
text-decoration: none;
color: var(--warm-black);
}
.header--button samp{
 display: inline-block;
 width: 13px;
 height: 8px;
 margin-left: 10px; 
 background-image: url(assets/icons/down-arrow.svg);

}

